@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  }

  html.dark body {
    @apply bg-slate-900 text-slate-100;
  }

  html.night body {
    background-color: #070b14;
    @apply text-slate-200;
  }
}
